
    <h1>About Us</h1>
    <p>
      <a href="http://realcomment.heroku.com/">Blog Site Commenting</a>
      is a blogging site to write notes and comments about web development and
      ideas regarding<a href="http://rubyonrails.org/"> programming with
      the rails framework</a>.
      
    </p>

