<h1>Help</h1>
<p>
  Get help on Blogging Site for Commenting at the
  <a href="http://realcomment.heroku.com/help">realcomment help page</a>.
  Here's a link to a sample app, see the
  <a href="http://www.railstutorial.org/book">Rails Tutorial book</a>.
</p>
